@import "tailwindcss";
@plugin "daisyui";

* {
    margin: 0;
}

html,
body,
#root {
    background-color: #281b46;
    min-height: 100%;
}

.navbar {
    background: #371a3d;
}

.btn:hover {
    color: indigo;
}